<%= form_for(@productsbind) do |f| %>
  <% if @productsbind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@productsbind.errors.count, "error") %> prohibited this productsbind from being saved:</h2>

      <ul>
      <% @productsbind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :productid %><br />
    <%= f.number_field :productid %>
  </div>
  <div class="field">
    <%= f.label :campaignid %><br />
    <%= f.number_field :campaignid %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
