<h1>Listing operators</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Second</th>
    <th>Email</th>
    <th>Username</th>
    <th>Level</th>
    <th>Company</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @operators.each do |operator| %>
  <tr>
    <td><%= operator.name %></td>
    <td><%= operator.second %></td>
    <td><%= operator.email %></td>
    <td><%= operator.username %></td>
    <td><%= operator.level %></td>
    <td><%= Company.find(operator.company).name %></td>
    <td><%= operator.status %></td>
    <td><%= link_to 'Show', operator %></td>
    <td><%= link_to 'Edit', edit_operator_path(operator) %></td>
    <td><%= link_to 'Destroy', operator, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Operator', new_operator_path %>
