<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :second %><br />
    <%= f.text_field :second %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone1 %><br />
    <%= f.text_field :phone1 %>
  </div>
  <div class="field">
    <%= f.label :phone2 %><br />
    <%= f.text_field :phone2 %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br />
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :addr1_street %><br />
    <%= f.text_field :addr1_street %>
  </div>
  <div class="field">
    <%= f.label :addr1_city %><br />
    <%= f.text_field :addr1_city %>
  </div>
  <div class="field">
    <%= f.label :addr1_zip %><br />
    <%= f.text_field :addr1_zip %>
  </div>
  <div class="field">
    <%= f.label :addr1_province %><br />
    <%= f.text_field :addr1_province %>
  </div>
  <div class="field">
    <%= f.label :addr1_state %><br />
    <%= f.text_field :addr1_state %>
  </div>
  <div class="field">
    <%= f.label :addr1_country %><br />
    <%= f.text_field :addr1_country %>
  </div>
  <div class="field">
    <%= f.label :addr1_def %><br />
    <%= f.text_field :addr1_def %>
  </div>
  <div class="field">
    <%= f.label :addr1_pref %><br />
    <%= f.check_box :addr1_pref %>
  </div>
  <div class="field">
    <%= f.label :addr2_street %><br />
    <%= f.text_field :addr2_street %>
  </div>
  <div class="field">
    <%= f.label :addr2_city %><br />
    <%= f.text_field :addr2_city %>
  </div>
  <div class="field">
    <%= f.label :addr2_zip %><br />
    <%= f.text_field :addr2_zip %>
  </div>
  <div class="field">
    <%= f.label :addr2_province %><br />
    <%= f.text_field :addr2_province %>
  </div>
  <div class="field">
    <%= f.label :addr2_state %><br />
    <%= f.text_field :addr2_state %>
  </div>
  <div class="field">
    <%= f.label :addr2_country %><br />
    <%= f.text_field :addr2_country %>
  </div>
  <div class="field">
    <%= f.label :addr2_def %><br />
    <%= f.text_field :addr2_def %>
  </div>
  <div class="field">
    <%= f.label :addr2_pref %><br />
    <%= f.check_box :addr2_pref %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.text_field :birth_date %>
  </div>
  <div class="field">
    <%= f.label :birth_place %><br />
    <%= f.text_field :birth_place %>
  </div>
  <div class="field">
    <%= f.label :cf %><br />
    <%= f.text_field :cf %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br />
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :education %><br />
    <%= f.number_field :education %>
  </div>
  <div class="field">
    <%= f.label :prefered_call_time %><br />
    <%= f.text_field :prefered_call_time %>
  </div>
  <div class="field">
    <%= f.label :prefered_visit_time %><br />
    <%= f.text_field :prefered_visit_time %>
  </div>
  <div class="field">
    <%= f.label :freefield1 %><br />
    <%= f.text_field :freefield1 %>
  </div>
  <div class="field">
    <%= f.label :freefield1_label %><br />
    <%= f.text_field :freefield1_label %>
  </div>
  <div class="field">
    <%= f.label :freefield2 %><br />
    <%= f.text_field :freefield2 %>
  </div>
  <div class="field">
    <%= f.label :freefield2_label %><br />
    <%= f.text_field :freefield2_label %>
  </div>
  <div class="field">
    <%= f.label :freefield3 %><br />
    <%= f.text_field :freefield3 %>
  </div>
  <div class="field">
    <%= f.label :freefield3_label %><br />
    <%= f.text_field :freefield3_label %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
