<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Second:</b>
  <%= @customer.second %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Phone1:</b>
  <%= @customer.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @customer.phone2 %>
</p>

<p>
  <b>Mobile:</b>
  <%= @customer.mobile %>
</p>

<p>
  <b>Facebook:</b>
  <%= @customer.facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%= @customer.twitter %>
</p>

<p>
  <b>Addr1 street:</b>
  <%= @customer.addr1_street %>
</p>

<p>
  <b>Addr1 city:</b>
  <%= @customer.addr1_city %>
</p>

<p>
  <b>Addr1 zip:</b>
  <%= @customer.addr1_zip %>
</p>

<p>
  <b>Addr1 province:</b>
  <%= @customer.addr1_province %>
</p>

<p>
  <b>Addr1 state:</b>
  <%= @customer.addr1_state %>
</p>

<p>
  <b>Addr1 country:</b>
  <%= @customer.addr1_country %>
</p>

<p>
  <b>Addr1 def:</b>
  <%= @customer.addr1_def %>
</p>

<p>
  <b>Addr1 pref:</b>
  <%= @customer.addr1_pref %>
</p>

<p>
  <b>Addr2 street:</b>
  <%= @customer.addr2_street %>
</p>

<p>
  <b>Addr2 city:</b>
  <%= @customer.addr2_city %>
</p>

<p>
  <b>Addr2 zip:</b>
  <%= @customer.addr2_zip %>
</p>

<p>
  <b>Addr2 province:</b>
  <%= @customer.addr2_province %>
</p>

<p>
  <b>Addr2 state:</b>
  <%= @customer.addr2_state %>
</p>

<p>
  <b>Addr2 country:</b>
  <%= @customer.addr2_country %>
</p>

<p>
  <b>Addr2 def:</b>
  <%= @customer.addr2_def %>
</p>

<p>
  <b>Addr2 pref:</b>
  <%= @customer.addr2_pref %>
</p>

<p>
  <b>Birth date:</b>
  <%= @customer.birth_date %>
</p>

<p>
  <b>Birth place:</b>
  <%= @customer.birth_place %>
</p>

<p>
  <b>Cf:</b>
  <%= @customer.cf %>
</p>

<p>
  <b>Occupation:</b>
  <%= @customer.occupation %>
</p>

<p>
  <b>Education:</b>
  <%= @customer.education %>
</p>

<p>
  <b>Prefered call time:</b>
  <%= @customer.prefered_call_time %>
</p>

<p>
  <b>Prefered visit time:</b>
  <%= @customer.prefered_visit_time %>
</p>

<p>
  <b>Freefield1:</b>
  <%= @customer.freefield1 %>
</p>

<p>
  <b>Freefield1 label:</b>
  <%= @customer.freefield1_label %>
</p>

<p>
  <b>Freefield2:</b>
  <%= @customer.freefield2 %>
</p>

<p>
  <b>Freefield2 label:</b>
  <%= @customer.freefield2_label %>
</p>

<p>
  <b>Freefield3:</b>
  <%= @customer.freefield3 %>
</p>

<p>
  <b>Freefield3 label:</b>
  <%= @customer.freefield3_label %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
