<p id="notice"><%= notice %></p>

<p>
  <b>Promoterid:</b>
  <%= @promotersbind.promoterid %>
</p>

<p>
  <b>Campaignid:</b>
  <%= @promotersbind.campaignid %>
</p>

<p>
  <b>Status:</b>
  <%= @promotersbind.status %>
</p>

<p>
  <b>Customrate:</b>
  <%= @promotersbind.customrate %>
</p>

<p>
  <b>Customavailability:</b>
  <%= @promotersbind.customavailability %>
</p>

<p>
  <b>Notes:</b>
  <%= @promotersbind.notes %>
</p>


<%= link_to 'Edit', edit_promotersbind_path(@promotersbind) %> |
<%= link_to 'Back', promotersbinds_path %>
