<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @todo.owner %>
</p>

<p>
  <b>Message:</b>
  <%= @todo.message %>
</p>

<p>
  <b>Status:</b>
  <%= @todo.status %>
</p>


<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
