<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @campaign_person.user %>
</p>

<p>
  <b>Campaign:</b>
  <%= @campaign_person.campaign %>
</p>

<p>
  <b>Level:</b>
  <%= @campaign_person.level %>
</p>


<%= link_to 'Edit', edit_campaign_person_path(@campaign_person) %> |
<%= link_to 'Back', campaign_people_path %>
