<p id="notice"><%= notice %></p>

<p>
  <b>Operator:</b>
  <%= @appointment.operator_id %>
</p>

<p>
  <b>Promoter:</b>
  <%= @appointment.promoter_id %>
</p>

<p>
  <b>Customer:</b>
  <%= @appointment.customer_id %>
</p>

<p>
  <b>Location:</b>
  <%= @appointment.location %>
</p>

<p>
  <b>Notes:</b>
  <%= @appointment.notes %>
</p>

<p>
  <b>Date:</b>
  <%= @appointment.date %>
</p>

<p>
  <b>Fromtime:</b>
  <%= @appointment.fromtime %>
</p>

<p>
  <b>Totime:</b>
  <%= @appointment.totime %>
</p>

<p>
  <b>Status:</b>
  <%= @appointment.status %>
</p>

<p>
  <b>Priority:</b>
  <%= @appointment.priority %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
