<h1>Listing educations</h1>

<table>
  <tr>
    <th>Label</th>
    <th>Description</th>
    <th>Scope</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @educations.each do |education| %>
  <tr>
    <td><%= education.label %></td>
    <td><%= education.description %></td>
    <td><%= education.scope %></td>
    <td><%= link_to 'Show', education %></td>
    <td><%= link_to 'Edit', edit_education_path(education) %></td>
    <td><%= link_to 'Destroy', education, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Education', new_education_path %>
