<div class="nav">
    <ul>

		<li><%= link_to "Campagne", manager_path %></li>
		<li>------------</li>
		<!-- to delete -->
        <li><%= link_to "Campagne", campaigns_path %></li>
        <li><%= link_to "Operatori", operators_path %></li>
        <li><%= link_to "Promotori", promoters_path %></li>
		<li><%= link_to "Agenda", appointments_path %></li>
        <li><%= link_to "Esci", logout_path %></li>
    </ul>
</div>
